USE [master]
GO
/****** Object:  Database [QuanLyKhachSan_SQL6]    Script Date: 12/22/2020 9:01:03 AM ******/
CREATE DATABASE [QuanLyKhachSan_SQL6]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QuanLyKhachSan_SQL6', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyKhachSan_SQL6.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'QuanLyKhachSan_SQL6_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\QuanLyKhachSan_SQL6_log.ldf' , SIZE = 2368KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QuanLyKhachSan_SQL6].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QuanLyKhachSan_SQL6]
GO
/****** Object:  UserDefinedFunction [dbo].[DS_NV]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[DS_NV] (@START INT, @END INT)
RETURNS @BANG_DS TABLE
(
	MANV CHAR(10),
	TENNV NVARCHAR(30),
	TUOI INT
)
AS
BEGIN 
		INSERT INTO @BANG_DS
		SELECT MANV,TENNV, YEAR(GETDATE())-YEAR(NGAYSINH) AS 'TUOI' FROM NHANVIEN AS NV
		WHERE (YEAR(GETDATE())-YEAR(NGAYSINH))  BETWEEN @START AND @END
		RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[HoaDon_KhachLe]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[HoaDon_KhachLe](@TenKH NVARCHAR(30))
RETURNS @BANG table
(
MAHD CHAR(10),
TENKH NVARCHAR(30),
NGAYDEN DATE,
NGAYDI DATE,
TIENPHONG BIGINT,
TIENDICHVU BIGINT,
TIENGIAMGIA BIGINT,
TONGSOTIEN BIGINT
)
AS
BEGIN
-- tinh tien phong
declare @MaPhong char(10), @ngayden date, @ngaydi date, @songay int, @dongia bigint, @tienphong bigint
select @MaPhong = MAPHONG from KHACHHANG kh, PHIEUDATPHONG pdp, CT_PHIEUDATPHONG ctdp 
where TENKH = @TenKH and pdp.MAPDP = ctdp.MAPDP and kh.MAKH = pdp.MAKH 
set @tienphong = 0
set @ngaydi = GETDATE()
select @ngayden = NGAYDAT from PHIEUDATPHONG pdp, CT_PHIEUDATPHONG ct where ct.MAPHONG = @MaPhong and NGAYTRA is null and ct.MAPDP = pdp.MAPDP
set @songay = DATEDIFF(day, @ngayden, @ngaydi)
select @dongia = DONGIA from LOAIPHONG lp, PHONG p where p.MAPHONG = @MaPhong and p.MALP = lp.MALP
set @tienphong = @songay * @dongia
-- tinh tien dich vu
DECLARE @MaPDP char(10), @MaPSDDV char(10), @MaDV char(10), @Soluong int, @GiaDV bigint, @TienDV bigint
set @TienDV = 0

declare cursorDV cursor for
select distinct ctdv.MADV,CTDV.SOLUONG, DONGIA from PHIEUDATPHONG pdp, PHIEUSUDUNGDICHVU psddv, CT_PHIEUDATPHONG ctdp, CT_PHIEUSUDUNGDICHVU ctdv, DICHVU dv
where pdp.MAPDP = ctdp.MAPDP and ctdp.MAPSDDV = psddv.MAPSDDV and psddv.MAPSDDV = ctdv.MAPSDDV and dv.MADV = ctdv.MADV and ctdp.MAPHONG = @MaPhong
open cursorDV
while @@FETCH_STATUS = 0
begin
FETCH NEXT FROM cursorDV into @MaDV,@Soluong, @GiaDV
set @TienDV = @TienDV + @Soluong*@GiaDV
IF @@FETCH_STATUS<>0
BREAK
end
close cursorDV
DEALLOCATE cursorDV
DECLARE @TienGiamGia bigint, @TongSoTien bigint, @HeSoGG float
select @HeSoGG = HESOGIAMGIA from DOITUONG dt, KHACHHANG kh 
where kh.TENKH = @TenKH and dt.MADOITUONG = kh.MADOITUONG
-- tinh tien giam gia
set @TienGiamGia = @HeSoGG * (@tienphong + @TienDV)
-- tinh tong tien
set @TongSoTien = (@tienphong + @TienDV) - @TienGiamGia
insert into  @BANG values ('HD0001',@TenKH, @ngayden, @ngaydi, @tienphong, @TienDV, @TienGiamGia, @TongSoTien)
return
end
GO
/****** Object:  UserDefinedFunction [dbo].[TimKiem_NV]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TimKiem_NV] (@NoiDung NVARCHAR(50))
RETURNS @DS_TimKiem TABLE
(
	MANV char(10),
	TENNV nvarchar(30),
	DIACHI nvarchar(100),
	SDT varchar(15),
	MK varchar(20),
	GIOITINH nvarchar(10),
	MABP char(10),
	NGAYSINH DATE,
	LUONG BIGINT,
	MA_NQL CHAR(10)
)
AS 
BEGIN
	IF(@NoiDung IS NOT NULL)
	INSERT INTO @DS_TimKiem
		SELECT * FROM NHANVIEN 
		WHERE MANV LIKE '%'+@NoiDung+'%'
		OR TENNV LIKE N'%'+@NoiDung+'%'
		OR DIACHI LIKE N'%'+@NoiDung+'%'
		OR SDT LIKE '%'+@NoiDung+'%'
		OR MK LIKE '%'+@NoiDung+'%'
	    OR GIOITINH LIKE N'%'+@NoiDung+'%'
		OR MABP LIKE N'%'+@NoiDung+'%'
		OR NGAYSINH LIKE '%'+@NoiDung+'%'
		OR LUONG LIKE '%'+@NoiDung+'%'
		OR MA_NQL LIKE '%'+@NoiDung+'%'
	RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[TK_BP]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TK_BP] (@DEM INT, @NOIDUNG NVARCHAR(30))
RETURNS @BANG TABLE
(
	MABP CHAR(10),
	TENBP NVARCHAR(30),
	MA_TBP CHAR(10),
	NGAY_NC DATE,
	SLNV INT
)
AS
BEGIN 
	IF @DEM = 1 INSERT INTO @BANG SELECT * FROM BOPHAN WHERE MABP LIKE '%'+@NOIDUNG+'%'
	IF @DEM = 2 INSERT INTO @BANG SELECT * FROM BOPHAN WHERE TENBP LIKE N'%'+@NOIDUNG+'%'
	IF @DEM = 3 INSERT INTO @BANG SELECT * FROM BOPHAN WHERE MA_TRBP LIKE '%'+@NOIDUNG+'%'
	IF @DEM = 4 INSERT INTO @BANG SELECT * FROM BOPHAN WHERE NGAY_NHANCHUC LIKE '%'+@NOIDUNG+'%'
	IF @DEM = 5 INSERT INTO @BANG SELECT * FROM BOPHAN WHERE SLNV LIKE '%'+@NOIDUNG+'%'
	RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[TK_DV]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TK_DV] (@DEM INT, @NOIDUNG NVARCHAR(30))
RETURNS @BANG TABLE 
(
	MADV CHAR(10),
	TENDV NVARCHAR(30),
	DONGGIA BIGINT,
	MABP CHAR(10)
)
AS 
BEGIN
	IF @DEM = 1 INSERT INTO @BANG SELECT MADV,TENDV,DONGIA,MABP FROM DICHVU WHERE MADV LIKE '%'+@NOIDUNG+'%'
	IF @DEM = 2 INSERT INTO @BANG SELECT MADV,TENDV,DONGIA,MABP FROM DICHVU WHERE TENDV LIKE N'%'+@NOIDUNG+'%'
	IF @DEM = 3 INSERT INTO @BANG SELECT MADV,TENDV,DONGIA,MABP FROM DICHVU WHERE MABP LIKE '%'+@NOIDUNG+'%'
	IF @DEM = 4 INSERT INTO @BANG SELECT MADV,TENDV,DONGIA,MABP FROM DICHVU WHERE DONGIA LIKE '%'+@NOIDUNG+'%'
	RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[TK_NV]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TK_NV] (@DEM INT,@NOIDUNG NVARCHAR(50))
RETURNS @BANG TABLE
(
	MANV CHAR(10),
	TENNV NVARCHAR(30),
	DIACHI NVARCHAR(100),
	SDT VARCHAR(20),
	MK VARCHAR(20),
	GIOITINH NVARCHAR(10),
	MABP CHAR(10),
	NGAYSINH DATE,
	LUONG BIGINT,
	MA_NQL CHAR(10)
)
AS
BEGIN
	IF @DEM = 1 INSERT INTO @BANG SELECT * FROM NHANVIEN WHERE MANV LIKE '%'+@NOIDUNG+'%'
	IF @DEM = 2 INSERT INTO @BANG SELECT * FROM NHANVIEN WHERE TENNV LIKE N'%'+@NOIDUNG+'%'
	IF @DEM = 3 INSERT INTO @BANG SELECT * FROM NHANVIEN WHERE DIACHI LIKE N'%'+@NOIDUNG+'%'
	IF @DEM = 4 INSERT INTO @BANG SELECT * FROM NHANVIEN WHERE NGAYSINH LIKE '%'+@NOIDUNG+'%'
	IF @DEM = 5 INSERT INTO @BANG SELECT * FROM NHANVIEN WHERE SDT LIKE '%'+@NOIDUNG+'%'
	IF @DEM = 6 INSERT INTO @BANG SELECT * FROM NHANVIEN WHERE GIOITINH LIKE N'%'+@NOIDUNG+'%'
	IF @DEM = 7 INSERT INTO @BANG SELECT * FROM NHANVIEN WHERE LUONG LIKE '%'+@NOIDUNG+'%'
	IF @DEM = 8 INSERT INTO @BANG SELECT * FROM NHANVIEN WHERE MA_NQL LIKE '%'+@NOIDUNG+'%'
	IF @DEM = 9 INSERT INTO @BANG SELECT * FROM NHANVIEN WHERE MABP LIKE '%'+@NOIDUNG+'%'
	RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[TK_PHONG]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[TK_PHONG] (@DEM INT,@NOIDUNG NVARCHAR(50))
RETURNS @BANG TABLE
(
	MAPHONG CHAR(10),
	TENPHONG NVARCHAR(20),
	TRANGTHAI NVARCHAR(30),
	MALP CHAR(10),
	MABP CHAR(10),
	TENLP NVARCHAR(20),
	TRANGBI NVARCHAR(50),
	DONGIA BIGINT
)
AS 
BEGIN 
	IF @DEM=1 INSERT INTO @BANG 
	SELECT p.*, lp.TENLP,lp.TRANGBI,lp.DONGIA FROM PHONG AS p, LOAIPHONG AS lp 
	WHERE p.MALP = lp.MALP and p.MAPHONG LIKE '%'+@NOIDUNG+'%' 
	IF @DEM=2 INSERT INTO @BANG 
	SELECT p.*, lp.TENLP,lp.TRANGBI,lp.DONGIA FROM PHONG AS p, LOAIPHONG AS lp 
	WHERE p.MALP = lp.MALP and p.TENPHONG LIKE N'%'+@NOIDUNG+'%' 
	IF @DEM=3 INSERT INTO @BANG 
	SELECT p.*, lp.TENLP,lp.TRANGBI,lp.DONGIA FROM PHONG AS p, LOAIPHONG AS lp 
	WHERE p.MALP = lp.MALP and p.TRANGTHAI LIKE N'%'+@NOIDUNG+'%' 	
	IF @DEM=4 INSERT INTO @BANG 
	SELECT p.*, lp.TENLP,lp.TRANGBI,lp.DONGIA FROM PHONG AS p, LOAIPHONG AS lp 
	WHERE p.MALP = lp.MALP and p.MALP LIKE '%'+@NOIDUNG+'%' 
	IF @DEM=5 INSERT INTO @BANG 
	SELECT p.*, lp.TENLP,lp.TRANGBI,lp.DONGIA FROM PHONG AS p, LOAIPHONG AS lp 
	WHERE p.MALP = lp.MALP and lp.TENLP LIKE N'%'+@NOIDUNG+'%' 
	IF @DEM=6 INSERT INTO @BANG 
	SELECT p.*, lp.TENLP,lp.TRANGBI,lp.DONGIA FROM PHONG AS p, LOAIPHONG AS lp 
	WHERE p.MALP = lp.MALP and lp.TRANGBI LIKE N'%'+@NOIDUNG+'%' 
	IF @DEM=7 INSERT INTO @BANG 
	SELECT p.*, lp.TENLP,lp.TRANGBI,lp.DONGIA FROM PHONG AS p, LOAIPHONG AS lp 
	WHERE p.MALP = lp.MALP and lp.DONGIA LIKE '%'+@NOIDUNG+'%' 	
	IF @DEM=8 INSERT INTO @BANG 
	SELECT p.*, lp.TENLP,lp.TRANGBI,lp.DONGIA FROM PHONG AS p, LOAIPHONG AS lp 
	WHERE p.MALP = lp.MALP and p.MABP LIKE '%'+@NOIDUNG+'%' 
	RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[XEM_DT]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[XEM_DT] ( @NGAYBD DATE, @NGAYKT DATE)
RETURNS @BANG_DT TABLE 
(
	MANV CHAR(10),
	TENNV NVARCHAR(50),
	DOANHTHU BIGINT
)
AS
BEGIN
	DECLARE @TIEN BIGINT 
	INSERT INTO @BANG_DT
	SELECT NV.MANV,NV.TENNV,TONGTIEN FROM HOADON HD, NHANVIEN NV
	WHERE NGAYTHANHTOAN <= @NGAYKT AND NGAYTHANHTOAN >= @NGAYBD
	AND NV.MANV=HD.MANV
	RETURN
END
GO
/****** Object:  UserDefinedFunction [dbo].[XEM_NV]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[XEM_NV](@TEN NVARCHAR(50))
RETURNS INT
AS
BEGIN
	DECLARE @DEM INT =0
	SELECT @DEM=COUNT(MANV) FROM NHANVIEN
	WHERE DIACHI like N'%'+@TEN+'%'
RETURN @DEM
END
GO
/****** Object:  UserDefinedFunction [dbo].[XEM_SL_NV_BP]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[XEM_SL_NV_BP] (@MABP CHAR(10))
RETURNS INT
AS
BEGIN	
	DECLARE @SL INT =0
	SELECT  @SL = COUNT(NV.MANV) FROM BOPHAN BP, NHANVIEN NV
	WHERE BP.MABP=NV.MABP AND BP.MABP = @MABP
	RETURN @SL
END
GO
/****** Object:  UserDefinedFunction [dbo].[XEM_TUOI_NV]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[XEM_TUOI_NV](@MA CHAR(10))
RETURNS INT
AS
BEGIN
	DECLARE @TUOI INT =0
	SELECT @TUOI=DATEDIFF(YEAR,NGAYSINH,CURRENT_TIMESTAMP) FROM NHANVIEN
	WHERE MANV=@MA
	RETURN @TUOI
END
GO
/****** Object:  UserDefinedFunction [dbo].[XemDT_KH]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create function [dbo].[XemDT_KH](@MaKH char(10))
returns nvarchar(30)
as
begin
Declare @LoaiDT nvarchar(30)
SELECT @LoaiDT = LOAIDOITUONG from KHACHHANG, DOITUONG 
where KHACHHANG.MAKH = @MaKH and KHACHHANG.MADOITUONG = DOITUONG.MADOITUONG
return @LoaiDT
END
GO
/****** Object:  Table [dbo].[CT_PHIEUDATPHONG]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUDATPHONG](
	[MAPDP] [char](10) NOT NULL,
	[MAPHONG] [char](10) NOT NULL,
	[NGAYTRA] [date] NULL,
	[MAPSDDV] [char](10) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CT_PHIEUSUDUNGDICHVU]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CT_PHIEUSUDUNGDICHVU](
	[MAPSDDV] [char](10) NOT NULL,
	[SOLUONG] [int] NULL,
	[MADV] [char](10) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUSUDUNGDICHVU]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUSUDUNGDICHVU](
	[MAPSDDV] [char](10) NOT NULL,
	[SOTIENTRATRUOC] [int] NULL,
	[MANV] [char](10) NULL,
	[NGAYSUDUNGDV] [date] NULL,
 CONSTRAINT [PK__PHIEUSUD__3618634AA1D633DF] PRIMARY KEY CLUSTERED 
(
	[MAPSDDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[Bang_DV]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create view [dbo].[Bang_DV]
as
select ctph.MAPHONG,count(distinct ctdv.MADV) 'so phieu' from CT_PHIEUSUDUNGDICHVU ctdv, PHIEUSUDUNGDICHVU dv, CT_PHIEUDATPHONG ctph
where ctdv.MAPSDDV=dv.MAPSDDV and dv.MAPSDDV=ctph.MAPSDDV
group by ctph.MAPHONG
GO
/****** Object:  Table [dbo].[BOPHAN]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN](
	[MABP] [char](10) NOT NULL,
	[TENBP] [nvarchar](30) NULL,
	[MA_TRBP] [char](10) NULL,
	[NGAY_NHANCHUC] [date] NULL,
	[SLNV] [int] NULL,
 CONSTRAINT [PK_BOPHAN] PRIMARY KEY CLUSTERED 
(
	[MABP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANV] [char](10) NOT NULL,
	[TENNV] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[MK] [varchar](20) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[MABP] [char](10) NULL,
	[NGAYSINH] [date] NULL,
	[LUONG] [bigint] NULL,
	[MA_NQL] [char](10) NULL,
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[BANG]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[BANG]
AS
select BP.MABP, count(nv.MANV) AS SLNV from BOPHAN bp, NHANVIEN nv
WHERE NV.MABP=BP.MABP
GROUP BY BP.MABP
GO
/****** Object:  Table [dbo].[BANG_STT]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANG_STT](
	[STT] [int] NULL,
	[TEN] [nvarchar](60) NULL,
	[NGAYSINH] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BOPHAN_2]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BOPHAN_2](
	[MABP_2] [char](10) NOT NULL,
	[TENBP] [nvarchar](50) NULL,
	[DIACHI] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[MABP_2] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DANHSACH]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DANHSACH](
	[SBD] [char](10) NULL,
	[MANV] [char](10) NULL,
	[HOTEN] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DICHVU]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DICHVU](
	[MADV] [char](10) NOT NULL,
	[TENDV] [nvarchar](30) NULL,
	[TRANGTHAI] [nvarchar](10) NULL,
	[DONGIA] [int] NULL,
	[MABP] [char](10) NULL,
 CONSTRAINT [PK_DICHVU] PRIMARY KEY CLUSTERED 
(
	[MADV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DOITUONG]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DOITUONG](
	[MADOITUONG] [char](10) NOT NULL,
	[LOAIDOITUONG] [varchar](15) NULL,
	[HESOGIAMGIA] [float] NULL,
	[DIEM] [int] NULL,
 CONSTRAINT [PK_DOITUONG] PRIMARY KEY CLUSTERED 
(
	[MADOITUONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHD] [char](10) NOT NULL,
	[TENHD] [nvarchar](30) NULL,
	[NGAYTHANHTOAN] [date] NULL,
	[TIENDATTRUOC] [float] NULL,
	[TIENGIAMGIA] [float] NULL,
	[TIENDICHVU] [float] NULL,
	[TONGTIEN] [float] NULL,
	[MAKH] [char](10) NULL,
	[MANV] [char](10) NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [char](10) NOT NULL,
	[TENKH] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](30) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[SDT] [varchar](15) NULL,
	[CMND] [char](15) NULL,
	[QUOCTICH] [nvarchar](15) NULL,
	[MADOITUONG] [char](10) NULL,
	[DIEMTL] [int] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAIPHONG]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAIPHONG](
	[MALP] [char](10) NOT NULL,
	[TENLP] [nvarchar](30) NULL,
	[TRANGBI] [nvarchar](100) NULL,
	[DONGIA] [float] NULL,
 CONSTRAINT [PK_LOAIPHONG] PRIMARY KEY CLUSTERED 
(
	[MALP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NHANVIEN_2]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NHANVIEN_2](
	[MA] [int] IDENTITY(1,1) NOT NULL,
	[TENNV] [nvarchar](50) NULL,
	[NGAYSINH] [date] NULL,
	[LUONG] [bigint] NULL,
	[MABP_] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUDATPHONG]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUDATPHONG](
	[MAPDP] [char](10) NOT NULL,
	[TIENTRATRUOC] [float] NULL,
	[MAKH] [char](10) NULL,
	[NGAYDAT] [date] NULL,
	[MANV] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MAPDP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHONG]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHONG](
	[MAPHONG] [char](10) NOT NULL,
	[TENPHONG] [nvarchar](20) NULL,
	[TRANGTHAI] [nvarchar](20) NULL,
	[MALP] [char](10) NULL,
	[MABP] [char](10) NULL,
 CONSTRAINT [PK_PHONG] PRIMARY KEY CLUSTERED 
(
	[MAPHONG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TB_USER]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TB_USER](
	[MA] [char](10) NOT NULL,
	[HOTEN] [nvarchar](30) NULL,
	[DIACHI] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[MK] [varchar](20) NULL,
	[GIOITINH] [nvarchar](10) NULL,
	[MABP] [char](10) NULL,
	[NGAYSINH] [date] NULL,
	[LUONG] [bigint] NULL,
	[MA_NQL] [char](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[MA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[BANG_STT] ([STT], [TEN], [NGAYSINH]) VALUES (1, N'Nguyễn Thị Loan', CAST(N'1998-03-19' AS Date))
INSERT [dbo].[BANG_STT] ([STT], [TEN], [NGAYSINH]) VALUES (2, N'Quách Xuân Công', CAST(N'1998-09-19' AS Date))
INSERT [dbo].[BANG_STT] ([STT], [TEN], [NGAYSINH]) VALUES (3, N'Đỗ Thị Hà', CAST(N'2020-03-19' AS Date))
GO
INSERT [dbo].[BOPHAN] ([MABP], [TENBP], [MA_TRBP], [NGAY_NHANCHUC], [SLNV]) VALUES (N'BP01      ', N'LỄ TÂN', N'NV01      ', CAST(N'2020-06-28' AS Date), 10)
INSERT [dbo].[BOPHAN] ([MABP], [TENBP], [MA_TRBP], [NGAY_NHANCHUC], [SLNV]) VALUES (N'BP02      ', N'BẢO VỆ', N'NV11      ', CAST(N'2020-01-24' AS Date), 10)
INSERT [dbo].[BOPHAN] ([MABP], [TENBP], [MA_TRBP], [NGAY_NHANCHUC], [SLNV]) VALUES (N'BP03      ', N'PHỤC VỤ', N'NV21      ', CAST(N'2020-01-24' AS Date), 10)
GO
INSERT [dbo].[BOPHAN_2] ([MABP_2], [TENBP], [DIACHI]) VALUES (N'BP01      ', N'QUẢN LÝ', N'HÀ NỘI')
GO
INSERT [dbo].[CT_PHIEUDATPHONG] ([MAPDP], [MAPHONG], [NGAYTRA], [MAPSDDV]) VALUES (N'PD001     ', N'P101      ', CAST(N'2020-04-16' AS Date), N'P001      ')
INSERT [dbo].[CT_PHIEUDATPHONG] ([MAPDP], [MAPHONG], [NGAYTRA], [MAPSDDV]) VALUES (N'PD002     ', N'P102      ', CAST(N'2020-04-17' AS Date), NULL)
INSERT [dbo].[CT_PHIEUDATPHONG] ([MAPDP], [MAPHONG], [NGAYTRA], [MAPSDDV]) VALUES (N'PD003     ', N'P103      ', CAST(N'2020-04-17' AS Date), NULL)
GO
INSERT [dbo].[CT_PHIEUSUDUNGDICHVU] ([MAPSDDV], [SOLUONG], [MADV]) VALUES (N'P001      ', 3, N'DV01      ')
INSERT [dbo].[CT_PHIEUSUDUNGDICHVU] ([MAPSDDV], [SOLUONG], [MADV]) VALUES (N'P001      ', 3, N'DV02      ')
INSERT [dbo].[CT_PHIEUSUDUNGDICHVU] ([MAPSDDV], [SOLUONG], [MADV]) VALUES (N'P002      ', 2, N'DV04      ')
GO
INSERT [dbo].[DANHSACH] ([SBD], [MANV], [HOTEN], [NGAYSINH]) VALUES (N'SBD1      ', N'NV01      ', N'Nguyễn Thị Loan', CAST(N'1998-03-19' AS Date))
INSERT [dbo].[DANHSACH] ([SBD], [MANV], [HOTEN], [NGAYSINH]) VALUES (N'SBD2      ', N'NV02      ', N'Quách Xuân Công', CAST(N'1998-09-19' AS Date))
INSERT [dbo].[DANHSACH] ([SBD], [MANV], [HOTEN], [NGAYSINH]) VALUES (N'SBD3      ', N'NV03      ', N'Đỗ Thị Hà', CAST(N'1997-08-19' AS Date))
GO
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [TRANGTHAI], [DONGIA], [MABP]) VALUES (N'DV01      ', N'Dọn phòng', N'Còn trống', 100000, N'BP04      ')
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [TRANGTHAI], [DONGIA], [MABP]) VALUES (N'DV02      ', N'Giặt đồ', N'Còn trống', 120000, N'BP04      ')
INSERT [dbo].[DICHVU] ([MADV], [TENDV], [TRANGTHAI], [DONGIA], [MABP]) VALUES (N'DV03      ', N'Ăn uống', N'Còn trống', 500000, N'BP03      ')
GO
INSERT [dbo].[DOITUONG] ([MADOITUONG], [LOAIDOITUONG], [HESOGIAMGIA], [DIEM]) VALUES (N'DT01      ', N'GOLD', 0.15, 1000)
INSERT [dbo].[DOITUONG] ([MADOITUONG], [LOAIDOITUONG], [HESOGIAMGIA], [DIEM]) VALUES (N'DT02      ', N'SILVER', 0.1, 500)
INSERT [dbo].[DOITUONG] ([MADOITUONG], [LOAIDOITUONG], [HESOGIAMGIA], [DIEM]) VALUES (N'DT03      ', N'BRONZE', 0.05, 200)
GO
INSERT [dbo].[HOADON] ([MAHD], [TENHD], [NGAYTHANHTOAN], [TIENDATTRUOC], [TIENGIAMGIA], [TIENDICHVU], [TONGTIEN], [MAKH], [MANV]) VALUES (N'1         ', NULL, CAST(N'2020-04-16' AS Date), 4000000, 15534000, 1260000, 103560000, N'KH01      ', N'NV17      ')
INSERT [dbo].[HOADON] ([MAHD], [TENHD], [NGAYTHANHTOAN], [TIENDATTRUOC], [TIENGIAMGIA], [TIENDICHVU], [TONGTIEN], [MAKH], [MANV]) VALUES (N'2         ', NULL, CAST(N'2020-04-17' AS Date), 3500000, 15457500, 750000, 103050000, N'KH04      ', N'NV18      ')
INSERT [dbo].[HOADON] ([MAHD], [TENHD], [NGAYTHANHTOAN], [TIENDATTRUOC], [TIENGIAMGIA], [TIENDICHVU], [TONGTIEN], [MAKH], [MANV]) VALUES (N'3         ', NULL, CAST(N'2020-04-10' AS Date), 2500000, 15550500, 1370000, 103670000, N'KH06      ', N'NV34      ')
GO
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [GIOITINH], [SDT], [CMND], [QUOCTICH], [MADOITUONG], [DIEMTL]) VALUES (N'KH01      ', N'Nguyễn Trọng Tuấn', N'Thanh Ba, Phú Thọ', N'Nam', N'0971.134.462', N'156889867      ', N'Việt Nam', N'DT01      ', 1010)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [GIOITINH], [SDT], [CMND], [QUOCTICH], [MADOITUONG], [DIEMTL]) VALUES (N'KH02      ', N'Ngô Bá Kiên', N'Lập Thạch, Vĩnh Phúc', N'Nam', N'0981.132.785', N'142389901      ', N'Việt Nam', N'DT01      ', 1000)
INSERT [dbo].[KHACHHANG] ([MAKH], [TENKH], [DIACHI], [GIOITINH], [SDT], [CMND], [QUOCTICH], [MADOITUONG], [DIEMTL]) VALUES (N'KH03      ', N'Nguyễn Văn Nam', N'Tam Nông, Phú Thọ', N'Nam', N'0981.003.531', N'145981120      ', N'Việt Nam', N'DT01      ', 1000)
GO
INSERT [dbo].[LOAIPHONG] ([MALP], [TENLP], [TRANGBI], [DONGIA]) VALUES (N'LP01      ', N'VIP dôi', N'Ti vi, Điều hòa, Máy nước nóng, Tủ lớn, 2 Giường', 1100000)
INSERT [dbo].[LOAIPHONG] ([MALP], [TENLP], [TRANGBI], [DONGIA]) VALUES (N'LP02      ', N'VIP đơn', N'Ti vi, Điều hòa, Máy nước nóng, Tủ vừa, 1 giường', 800000)
INSERT [dbo].[LOAIPHONG] ([MALP], [TENLP], [TRANGBI], [DONGIA]) VALUES (N'LP03      ', N'Ðôi', N'Ti vi, Điều hòa, Máy nước nóng, Tủ nhỏ, 2 Giường', 500000)
GO
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [MK], [GIOITINH], [MABP], [NGAYSINH], [LUONG], [MA_NQL]) VALUES (N'NV01      ', N'Nguyễn Thị Loan', N'Hưng Yên, Hưng Yên', N'0987.765.452', N'123456', N'Nữ', N'BP01      ', CAST(N'1998-03-19' AS Date), 10200000, NULL)
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [MK], [GIOITINH], [MABP], [NGAYSINH], [LUONG], [MA_NQL]) VALUES (N'NV02      ', N'Quách Xuân Công', N'Yên Mỹ, Hưng Yên', N'0989.2568.61', N'123456', N'Nam', N'BP01      ', CAST(N'1998-09-19' AS Date), 8000000, N'NV01      ')
INSERT [dbo].[NHANVIEN] ([MANV], [TENNV], [DIACHI], [SDT], [MK], [GIOITINH], [MABP], [NGAYSINH], [LUONG], [MA_NQL]) VALUES (N'NV03      ', N'Đỗ Thị Hà', N'Kiến Xương, Thái Bình', N'0989.25.04.72', N'123456', N'Nữ', N'BP01      ', CAST(N'2020-03-19' AS Date), 8200000, N'NV01      ')
GO
SET IDENTITY_INSERT [dbo].[NHANVIEN_2] ON 

INSERT [dbo].[NHANVIEN_2] ([MA], [TENNV], [NGAYSINH], [LUONG], [MABP_]) VALUES (1, N'BÙI ĐĂNG VIỆT', CAST(N'1999-10-28' AS Date), 100000000, N'BP01      ')
INSERT [dbo].[NHANVIEN_2] ([MA], [TENNV], [NGAYSINH], [LUONG], [MABP_]) VALUES (2, N'BÙI ĐĂNG NAM', CAST(N'1999-11-21' AS Date), 90000000, N'BP01      ')
INSERT [dbo].[NHANVIEN_2] ([MA], [TENNV], [NGAYSINH], [LUONG], [MABP_]) VALUES (3, N'BÙI THỊ LOAN', CAST(N'1997-10-23' AS Date), 80000000, N'BP01      ')
SET IDENTITY_INSERT [dbo].[NHANVIEN_2] OFF
GO
INSERT [dbo].[PHIEUDATPHONG] ([MAPDP], [TIENTRATRUOC], [MAKH], [NGAYDAT], [MANV]) VALUES (N'PD001     ', 4000000, N'KH01      ', CAST(N'2020-01-14' AS Date), N'NV01      ')
INSERT [dbo].[PHIEUDATPHONG] ([MAPDP], [TIENTRATRUOC], [MAKH], [NGAYDAT], [MANV]) VALUES (N'PD002     ', 3500000, N'KH04      ', CAST(N'2020-01-15' AS Date), N'NV02      ')
INSERT [dbo].[PHIEUDATPHONG] ([MAPDP], [TIENTRATRUOC], [MAKH], [NGAYDAT], [MANV]) VALUES (N'PD003     ', 2500000, N'KH06      ', CAST(N'2020-01-15' AS Date), N'NV02      ')
GO
INSERT [dbo].[PHIEUSUDUNGDICHVU] ([MAPSDDV], [SOTIENTRATRUOC], [MANV], [NGAYSUDUNGDV]) VALUES (N'P001      ', 0, N'NV02      ', CAST(N'2020-02-02' AS Date))
INSERT [dbo].[PHIEUSUDUNGDICHVU] ([MAPSDDV], [SOTIENTRATRUOC], [MANV], [NGAYSUDUNGDV]) VALUES (N'P002      ', 0, N'NV02      ', CAST(N'2020-02-03' AS Date))
INSERT [dbo].[PHIEUSUDUNGDICHVU] ([MAPSDDV], [SOTIENTRATRUOC], [MANV], [NGAYSUDUNGDV]) VALUES (N'P003      ', 100000, N'NV01      ', CAST(N'2020-04-16' AS Date))
GO
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [TRANGTHAI], [MALP], [MABP]) VALUES (N'P101      ', N'Phòng 101', N'Chưa thuê', N'LP01      ', N'BP03      ')
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [TRANGTHAI], [MALP], [MABP]) VALUES (N'P102      ', N'Phòng 102', N'Chưa thuê', N'LP01      ', N'BP03      ')
INSERT [dbo].[PHONG] ([MAPHONG], [TENPHONG], [TRANGTHAI], [MALP], [MABP]) VALUES (N'P103      ', N'Phòng 103', N'Chưa Thuê', N'LP01      ', N'BP03      ')
GO
INSERT [dbo].[TB_USER] ([MA], [HOTEN], [DIACHI], [SDT], [MK], [GIOITINH], [MABP], [NGAYSINH], [LUONG], [MA_NQL]) VALUES (N'NV01      ', N'Nguyễn Thị Loan', N'Hưng Yên, Hưng Yên', N'0987.765.452', N'123456', N'Nữ', N'BP01      ', CAST(N'1998-03-19' AS Date), 10200000, NULL)
INSERT [dbo].[TB_USER] ([MA], [HOTEN], [DIACHI], [SDT], [MK], [GIOITINH], [MABP], [NGAYSINH], [LUONG], [MA_NQL]) VALUES (N'NV02      ', N'Quách Xuân Công', N'Yên Mỹ, Hưng Yên', N'0989.2568.61', N'123456', N'Nam', N'BP01      ', CAST(N'1998-09-19' AS Date), 8000000, N'NV01      ')
INSERT [dbo].[TB_USER] ([MA], [HOTEN], [DIACHI], [SDT], [MK], [GIOITINH], [MABP], [NGAYSINH], [LUONG], [MA_NQL]) VALUES (N'NV03      ', N'Đỗ Thị Hà', N'Kiến Xương, Thái Bình', N'0989.25.04.72', N'123456', N'Nữ', N'BP01      ', CAST(N'1997-08-19' AS Date), 8200000, N'NV01      ')
GO
ALTER TABLE [dbo].[PHIEUSUDUNGDICHVU] ADD  CONSTRAINT [DF_PHIEUSUDUNGDICHVU_SOTIENTRATRUOC]  DEFAULT ((0)) FOR [SOTIENTRATRUOC]
GO
ALTER TABLE [dbo].[CT_PHIEUDATPHONG]  WITH CHECK ADD FOREIGN KEY([MAPDP])
REFERENCES [dbo].[PHIEUDATPHONG] ([MAPDP])
GO
ALTER TABLE [dbo].[CT_PHIEUDATPHONG]  WITH CHECK ADD FOREIGN KEY([MAPHONG])
REFERENCES [dbo].[PHONG] ([MAPHONG])
GO
ALTER TABLE [dbo].[CT_PHIEUDATPHONG]  WITH CHECK ADD  CONSTRAINT [FK_CTPDP_PSDDV] FOREIGN KEY([MAPSDDV])
REFERENCES [dbo].[PHIEUSUDUNGDICHVU] ([MAPSDDV])
GO
ALTER TABLE [dbo].[CT_PHIEUDATPHONG] CHECK CONSTRAINT [FK_CTPDP_PSDDV]
GO
ALTER TABLE [dbo].[CT_PHIEUSUDUNGDICHVU]  WITH CHECK ADD  CONSTRAINT [FK__CT_PHIEUS__MAPSD__2B3F6F97] FOREIGN KEY([MAPSDDV])
REFERENCES [dbo].[PHIEUSUDUNGDICHVU] ([MAPSDDV])
GO
ALTER TABLE [dbo].[CT_PHIEUSUDUNGDICHVU] CHECK CONSTRAINT [FK__CT_PHIEUS__MAPSD__2B3F6F97]
GO
ALTER TABLE [dbo].[CT_PHIEUSUDUNGDICHVU]  WITH CHECK ADD  CONSTRAINT [FK__CT_PHIEUSU__MADV__2C3393D0] FOREIGN KEY([MADV])
REFERENCES [dbo].[DICHVU] ([MADV])
GO
ALTER TABLE [dbo].[CT_PHIEUSUDUNGDICHVU] CHECK CONSTRAINT [FK__CT_PHIEUSU__MADV__2C3393D0]
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD  CONSTRAINT [FK_DICHVU_BOPHAN] FOREIGN KEY([MABP])
REFERENCES [dbo].[BOPHAN] ([MABP])
GO
ALTER TABLE [dbo].[DICHVU] CHECK CONSTRAINT [FK_DICHVU_BOPHAN]
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[HOADON]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [FK_KHACHHANG_DOITUONG] FOREIGN KEY([MADOITUONG])
REFERENCES [dbo].[DOITUONG] ([MADOITUONG])
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [FK_KHACHHANG_DOITUONG]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD FOREIGN KEY([MA_NQL])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [FK_NHANVIEN_BOPHAN] FOREIGN KEY([MABP])
REFERENCES [dbo].[BOPHAN] ([MABP])
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [FK_NHANVIEN_BOPHAN]
GO
ALTER TABLE [dbo].[NHANVIEN_2]  WITH CHECK ADD FOREIGN KEY([MABP_])
REFERENCES [dbo].[BOPHAN_2] ([MABP_2])
GO
ALTER TABLE [dbo].[PHIEUDATPHONG]  WITH CHECK ADD FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[PHIEUDATPHONG]  WITH CHECK ADD FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUSUDUNGDICHVU]  WITH CHECK ADD  CONSTRAINT [FK__PHIEUSUDUN__MANV__29572725] FOREIGN KEY([MANV])
REFERENCES [dbo].[NHANVIEN] ([MANV])
GO
ALTER TABLE [dbo].[PHIEUSUDUNGDICHVU] CHECK CONSTRAINT [FK__PHIEUSUDUN__MANV__29572725]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_BOPHAN] FOREIGN KEY([MABP])
REFERENCES [dbo].[BOPHAN] ([MABP])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_BOPHAN]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [FK_PHONG_LOAIPHONG] FOREIGN KEY([MALP])
REFERENCES [dbo].[LOAIPHONG] ([MALP])
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [FK_PHONG_LOAIPHONG]
GO
ALTER TABLE [dbo].[DICHVU]  WITH CHECK ADD  CONSTRAINT [CK_TRANGTHAIDV] CHECK  (([TRANGTHAI]=N'Đã đầy' OR [TRANGTHAI]=N'Còn trống'))
GO
ALTER TABLE [dbo].[DICHVU] CHECK CONSTRAINT [CK_TRANGTHAIDV]
GO
ALTER TABLE [dbo].[KHACHHANG]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINH_KH] CHECK  (([GIOITINH]=N'Nữ' OR [GIOITINH]=N'Nam'))
GO
ALTER TABLE [dbo].[KHACHHANG] CHECK CONSTRAINT [CK_GIOITINH_KH]
GO
ALTER TABLE [dbo].[NHANVIEN]  WITH CHECK ADD  CONSTRAINT [CK_GIOITINH_NV] CHECK  (([GIOITINH]=N'Nữ' OR [GIOITINH]=N'Nam'))
GO
ALTER TABLE [dbo].[NHANVIEN] CHECK CONSTRAINT [CK_GIOITINH_NV]
GO
ALTER TABLE [dbo].[PHONG]  WITH CHECK ADD  CONSTRAINT [CK_TRANGTHAIPHONG] CHECK  (([TRANGTHAI]=N'Chưa thuê' OR [TRANGTHAI]=N'Đã thuê'))
GO
ALTER TABLE [dbo].[PHONG] CHECK CONSTRAINT [CK_TRANGTHAIPHONG]
GO
/****** Object:  StoredProcedure [dbo].[AUTO_ADD_STT]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[AUTO_ADD_STT]
AS
BEGIN
	CREATE TABLE BANG_STT(STT INT, TEN NVARCHAR(60), NGAYSINH DATE)
	DECLARE @TENNV NVARCHAR(50), @NGAYSINH DATE, @STT INT = 1
	DECLARE TRO_AUTO_STT CURSOR FOR SELECT TENNV,NGAYSINH FROM NHANVIEN
	OPEN TRO_AUTO_STT
	WHILE @@FETCH_STATUS=0
	BEGIN
		FETCH NEXT FROM TRO_AUTO_STT
		INTO @TENNV,@NGAYSINH
		IF @@FETCH_STATUS<>0
		BREAK
		INSERT INTO BANG_STT VALUES (@STT,@TENNV,@NGAYSINH)
		SET @STT = @STT + 1
	END
	CLOSE TRO_AUTO_STT
	DEALLOCATE TRO_AUTO_STT
END
GO
/****** Object:  StoredProcedure [dbo].[DAT_PHONG]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DAT_PHONG](@MAPH CHAR(10),@MAKH CHAR(10), @TTT BIGINT, @NGAYDAT DATE,@MANV CHAR(10))
AS 
BEGIN
DECLARE TRO CURSOR FOR SELECT @MAPH FROM PHONG WHERE TRANGTHAI = N'Chưa thuê'
OPEN TRO
DECLARE @MAPDP CHAR(10) = 'PD27'
DECLARE @I INT
SET @I=1
WHILE @@FETCH_STATUS=0
	BEGIN 
	
		FETCH NEXT FROM TRO
		INTO @MAPH
		IF @@FETCH_STATUS<>0
		BREAK
		INSERT INTO PHIEUDATPHONG VALUES (@MAPDP + CONVERT(CHAR(10),@I),@TTT,@MAKH,@NGAYDAT,@MANV)
		SET @I= @I+1
	END
CLOSE TRO
DEALLOCATE TRO
END
GO
/****** Object:  StoredProcedure [dbo].[DELETE_NV]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[DELETE_NV] (@manv CHAR(10))
AS
BEGIN
	DELETE NHANVIEN WHERE MANV = @manv
END
GO
/****** Object:  StoredProcedure [dbo].[INSERT_NV]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[INSERT_NV] (@MANV CHAR(10), @TENNV NVARCHAR(30), @DIACHI NVARCHAR(100), @SDT VARCHAR(15), @MK VARCHAR(20)
						, @GIOITINH NVARCHAR(10), @MABP CHAR(10), @NGAYSINH DATE, @LUONG BIGINT, @MA_NQL CHAR(10))
AS
BEGIN
	INSERT INTO NHANVIEN
	VALUES (@MANV,@TENNV,@DIACHI,@SDT,@MK,@GIOITINH,@MABP,@NGAYSINH,@LUONG, @MA_NQL)
END
GO
/****** Object:  StoredProcedure [dbo].[sp_doanhthu]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE proc [dbo].[sp_doanhthu] (@thang char(2))
as
begin
	declare @i int
	declare @doanhthu int
	set @i = 1
	set @doanhthu = 0
	while(@i<32)
		begin 
			if(@i<10)
				begin
					select @doanhthu = sum(TONGTIEN) from HOADON where day(NGAYTHANHTOAN) = '0' +cast(@i as char(1))
					and month(NGAYTHANHTOAN) = @thang
				end
			else 
				begin
					select @doanhthu = sum(TONGTIEN) from HOADON where day(NGAYTHANHTOAN) = cast(@i as char(2))
					and month(NGAYTHANHTOAN) = @thang
				end
			if(@doanhthu!=0) print 'doanh thu ngay ' + cast(@i as char(3)) +'la ' + cast(@doanhthu as char(20))
			set @i = @i + 1
		end
end
GO
/****** Object:  StoredProcedure [dbo].[XEM_LUONG]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEM_LUONG](@Nhap_luong BIGINT)
AS
BEGIN 
	SELECT MANV, TENNV, LUONG FROM NHANVIEN
	WHERE LUONG > @Nhap_luong
	ORDER BY LUONG ASC
END
GO
/****** Object:  StoredProcedure [dbo].[XEM_PHONG]    Script Date: 12/22/2020 9:01:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[XEM_PHONG]
AS
BEGIN
	select p.*, lp.TENLP,lp.TRANGBI,lp.DONGIA from PHONG as p, LOAIPHONG as lp where p.MALP = lp.MALP
END
GO
USE [master]
GO
